<input type="text" (keyup) = "onKeyup($event)">
<button (click)="getUsers()">search</button>
<div class="container" *ngIf="users">
  <md-card class="card-avatar" *ngFor="let user of users.items">
  <md-card-header class="card-head">
    <md-card-title >{{user.login}}</md-card-title>
    <md-card-subtitle>{{user.name}}</md-card-subtitle>
  </md-card-header>
  <img md-card-image [src]="user.avatar_url">
  <md-card-actions>
    <button md-button (click)="showUserDetail(user)">Details</button>
  </md-card-actions>
</md-card>
</div>






