.card-avatar {
    width: 200px;
    margin: 20px;
    display: inline-block;


}

.container {
    text-align: center;
}

.card-head {
    justify-content: center;
    font-weight: bold;
}

.spinner.hidden {
    opacity: 0;
}
.spinner {
    margin: 10px;
    transition: opacity 0.5s;
}
.spinner, .spinner::after {
    border-radius: 100%;
}
.spinner {
    position: relative;
    display: inline-block;
    width: 1em;
    height: 1em;
    font-size: 32px;
    border-bottom: 1px solid;
    vertical-align: middle;
    overflow: hidden;
    text-indent: 100%;
    -webkit-animation: 0.5s spinner linear infinite;
    -moz-animation: 0.5s spinner linear infinite;
    animation: 0.5s spinner linear infinite;
    animation-name:spinAround;
}

@keyframes spinAround {
	from {
		transform:rotate(0deg)
	}
	to {
		transform:rotate(359deg)
	}
}